@import '~assets/css/variables.scss';

.details {
	width: 100%;
	display: flex;
	justify-content: center;	

	&__innerscreen {
		width: $innerScreen;
		display: flex;
		justify-content: center;
	}

	$newStoryWidth: 640px;
	&__article {
		margin-top: 30px;
		margin-bottom: 30px;		
		width: $newStoryWidth;

		@media only screen and (max-width: 576px) {
			width: 100%;
		}		
	}

	&__article-left {
		width: 100%;						
	}

	&__article-right {
		width: 100%;	
		background-color: #f3f3f3;				
	}

	&__primary {

	}

	&__content {
		padding: 25px;		
	}

	&__article-img {
		width: 100%;
		border: 1px solid #dee0e1;
	}

	&__title {
		font-weight: 500;
		font-size: 26px;
		color: black;
		line-height: 1.3;
		word-break: break-word;
	}

	&__author, &__author-left{
		display: flex;
	}

	&__author {
		justify-content: space-between;
		margin-top: 17px;
	}

	&__profilepic {
		height: 40px;
		width: 40px;
		border-radius: 100%;
		overflow: hidden;
		display: inline-flex;
	}

	&__profilepic-img {
		height: 100%; 
	}

	&__author-details {
		height: 40px;
		margin-left: 5px;	

		display: flex;
		flex-flow: column nowrap;
		align-items: space-between;
	}

	&__author-name {
		font-size: 14px;
		color: black;
		font-family: 'Roboto', sans-serif;	
	}

	&__author-time {
		font-size: 12px;
		color: gray;
		font-family: 'Roboto', sans-serif;
	}

	&__desc {
		margin-top: 35px;
	}

	&__actionswrap {		
		width: 100%;
		padding: 15px 22px;				
		display: flex;
		justify-content: space-between;

		* {
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			color: black;
		}
	}

	&__action {		
		display: flex;
		&:not(:first-child) {
			margin-left: 32px;
		}
	}

	&__writerimg {
		height: 32px;
		& img {
			height: 100%;
			margin-top: -2px;
			cursor: pointer;
		}

		& img.onhover {
			display: none;
		}

		&:hover img.normal {
			display: none;
		}

		&:hover img.onhover {
			display: block;
		}
	}

	&__actioninfo {
		margin-left: 7px;
		height: 32px;
		display: flex;
		align-items: center;

		& .vote-desc {			
		}				
	}

	&__refute {		
		height: 32px;
		display: flex;
		align-items: center;		

		& span {
			cursor: pointer;
			text-decoration: underline;
		}
	}

	&__refutation {
		border-top: 8px solid white;		
	}

	&__refutenotewrap{
		* {
			font-family: 'Roboto', sans-serif;
		}

		display: flex;			
	}

	&__refutenote {
		padding: 3px 10px;
		background-color: #e0e0e0;
		color: gray;
		border-radius: 14px;
	}
}
