@import '~assets/css/variables.scss';

.alert {
	$headerHeight: 50px;	
	&__screenbbounds {
		position: fixed;	
		top: $headerHeight + 20;
		z-index: 3;

		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__messagewrap {		
		width: 38.1%;
		height: auto;
		padding: 6px 8px;		
		color: white;
		background-color: $error;
		border-radius: 2px;
		margin-bottom: 2px;

		* {
			font-size: 15px;
			font-family: 'Roboto', sans-serif;
			color: white;
		}
	}
}


